<nav class="navbar sticky-top navbar-expand-lg" style="background-color: #28a745;">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/"> 
      <div class="logo-placeholder">Logo Placeholder (Replace Me)</div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link text-white active" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="/about">About</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="/blog">Blog</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="/contact">Contact</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="/donation">Donation</a></li>
      </ul>
    </div>
  </div>
</nav>